@model StockViewModel
@{
    ViewData["Title"] = "編輯庫存";
}

    <form id="stockEditForm" class="warehouse-form base-form-border" asp-action="Update">
        <div class="text-center">庫存資訊</div>
        <hr />
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">ID</label>
            <div class="col-8">
                <input type="text" class="form-control-plaintext" readonly id="Stock.ID" name="Stock.ID" value="@Model.ID">
            </div>
        </div>
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">類別</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Stock.Category" name="Stock.Category" asp-for="@Model.Category">
            </div>
        </div>
        <div class="form-group row">
            <label for="stockName" class="col-3 col-form-label text-center">品名</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Stock.Name" name="Stock.Name" asp-for="@Model.Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="stockNumber" class="col-3 col-form-label text-center">料號</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Stock.Name" name="Stock.Number" asp-for="@Model.Number">
            </div>
        </div>
        <div class="form-group row">
            <label for="stockSpecification" class="col-3 col-form-label text-center">規格</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Stock.Specification" name="Stock.Specification" asp-for="@Model.Specification">
            </div>
        </div>
        <div class="form-group row">
            <label for="stockLocation" class="col-3 col-form-label text-center">所在地</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Stock.Location" name="Stock.Location" asp-for="@Model.Location">
            </div>
        </div>
        <div class="form-group row">
            <label for="stockDescription" class="col-3 col-form-label text-center">描述</label>
            <textarea class="form-control col-8" id="Stock.Description" name="Stock.Description" rows="1">@Model.Description</textarea>
        </div>
        <div class="form-group row">
            <label for="stockLocation" class="col-3 col-form-label text-center">數量</label>
            <div class="col-8">
                <input type="number" class="form-control" id="Stock.Quantity" name="Stock.Quantity" asp-for="@Model.Quantity">
            </div>
        </div>
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">建立人員</label>
            <div class="col-8">@Model.Creator</div>
        </div>
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">建立日期</label>
            <div class="col-8">@Model.CreateDate.ToString("yyyy-MM-dd")</div>
        </div>
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">最後更新人員</label>
            <div class="col-8">@Model.LastUpdator</div>
        </div>
        <div class="form-group row">
            <label for="categoryCode" class="col-3 col-form-label text-center">最後更新日期</label>
            <div class="col-8">@Model.LastUpdateDate.ToString("yyyy-MM-dd")</div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">更新</button>
            <a class="btn btn-primary" href="@Url.Action("Index","Stock")">返回</a>
        </div>
    </form>
